@import "@fontsource/inter/index.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Force body font globally and always override */
body {
  font-family: 'Inter', sans-serif !important;
  font-weight: 500 !important; /* Semi-bold, or you can try 700 for bold */
  text-transform: uppercase !important; /* Make all text uppercase */
}
/* Slider thumb (button) styles */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: #ff1818;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  transition: background 0.3s, box-shadow 0.3s;
}

input[type="range"]::-moz-range-thumb {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: #ff1818;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  transition: background 0.3s, box-shadow 0.3s;
}
